body {
    background-color: #E6E6FA; /* Lilac background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: left;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto; /* Center content with margins on sides */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #4B0082; /* Indigo color */
}

p {
    text-align: justify;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4B0082; /* Indigo color */
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
